.product-img-text-wrap{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    margin: 20px 5px;
    padding: 40px 50px;
}
.product-img-text-wrap .col-1{
    position: relative;
}
.product-img-text-wrap .prev, .product-img-text-wrap .next{
    top: 45%;
}
.product-img-text-wrap .next{
    right: 0;
}
.choose{
    border: 3px solid #FF47BC;
}
.main-photo{
    width: 400px;
}
.not-available{
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
 .thumbnails{
    text-align: center;
    transition-duration: 0.4s;
    margin-top: 5px;
 }
.thumbnail-photo{
    width: 50px;
}
.thumbnail-photo:not(:first-child){
    margin-left: 5px;
}
.thumbnail-photo:hover{
    transform: scale(1.1);
}
.product-title{
    font-size: 40px;
    margin-bottom: 10px;
}
.product-cat{
    color: #868686;
    cursor: pointer;
}
.product-available{
    color: #00A632;
    margin-top: 5px;
}
.one-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.product-price{
    color: #FF47BC;
    font-size: 32px;
}
.product-desc{
    margin: 30px 0;
}
.product-quantity{
    display: inline-flex;
    border: #C0C0C0 1px solid;
    height: 40px;
    align-self:end;
}
.product-quantity div{
    border: #C0C0C0 1px solid;
    text-align: center;
}
.add-minus{
    padding: 10px;
    background: none;
    border: #C0C0C0 1px solid;
    transition-duration: 0.3s;
}
.add-minus:active{
    background: #FF47BC;
}
.quantity-amount{
    padding: 10px 25px;
    width: 30px;
}
.fav-btn{
    background: #FED8E7;
    border-radius: 50%;
    border: none;
    padding: 10px 15px;
}
.fav-btn:hover, .fav-exist{
    background-color: #f98db8;
}
.buy-btn-not-available{
    background-color: #FE5A9C;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 40px;
    padding: 10px 50px;
    margin-left: 5px;
}
.buy-btn{
    background-color: #FE5A9C;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 40px;
    padding: 10px 50px;
    margin-left: 5px;
}
.buy-btn:hover{
    background-color: #c44276;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FF47BC;
    margin: 1em 0;
    padding: 0;
}
.sec-title-text{
    border: 1px solid #FF47BC;;
    position: absolute;
    top:-10px;
    left: 40px;
    background-color: white;
    font-size: 20px;
    padding: 0 10px;
}
.sec-title{
    position: relative;
}
.info-text{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    padding: 30px 50px;
}
.info-text div{
    margin: 5px 0;
}
.carousel-wrapper{
    padding: 0 50px;
}

@media (max-width:1350px) {
    .buy-btn-not-available, .buy-btn{
        font-size: 25px;
    }
}
@media (max-width: 970px) {
    .product-img-text-wrap{
        display: flex;
        flex-direction: column;
    }
    .main-photo{
        display: flex;
        justify-self: center;
    }
}
@media (max-width:605px){
    .product-set{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .product-quantity{
        align-self: start;
    }
}
@media (max-width:465px){
    .buy-btn-not-available, .buy-btn{
        width: max-content;
        padding: 10px 20px;
        white-space: normal;
    }
}
@media (max-width:405px){
     .product-quantity{
        align-self: center;
    }
    .product-buying{
        text-align: center;
    }
    .fav-btn{
        text-align: center;
        margin-bottom: 15px;
    }
}
@media (max-width:390px){
    .buy-btn-not-available, .buy-btn{
        margin-left: 0;
        font-size: 15px;
    }
}