<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="../static/scripts/header.js" defer></script>
    <title>Про нас - MeloFlora</title>
</head>

<body>
    {% include 'header.html' %}

    <section class="about-us-section">
        <div class="title">
            Про нас!
        </div>
        <p class="small-text">
            <q>Квіти, квіти… Чарівні квіти, кольорові, великі й малі… Ви здатні душу зігріти, бо й самі ви — душа Землі!</q>
        </p>
        <p>
            <b>
                Дякую, що завітали до нашого інтернет-магазину.
            </b>
        </p>
        <p>
            Мене звуть Давискиба Наталія Анатоліївна. Ще з дитинства я захоплювалась квітами, їх чарівною красою та
            різноманіттям. Спочатку це було як хобі, але з кожним роком любов до квітів та набутий досвід ставали ще
            більшими, і врешті-решт я вирішила відкрити власний інтернет-магазин та займатися професійно улюбленою
            справою.
        </p>
        <p>
            Я впевнена, що кожна квітка неповторна, створює затишок та дарує гарний настрій! Тому завжди ділюсь власним
            досвідом, викладаю фото та відео про вирощування та догляд за квітами на своїх сторінках в соцмережах.
            Якщо у вас виникнуть запитання — завжди рада допомогти!
        </p>
        <p class="big-text">
            Ласкаво прошу у світ квітів та краси!
        </p>
    </section>

    {% include 'footer.html' %}
    <script src="../static/scripts/header.js"></script>
    <script src="../static/scripts/categories.js"></script>
</body>

</html>