<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basket.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/productpage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/products.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>"Семена"</title>
</head>

<body>
    {% include 'header.html' %}
    
    <section class="basket-section">
        <div class="title">
            Кошик
        </div>
        <div id="no-items" class="no-items">
            Додайте товари до кошику :)
        </div>
        <div style="overflow-x: auto;">
            <table id="basket">
                <tr>
                    <th>
                        <img src="{{ url_for('static', filename='images/material-symbols_delete-outline.svg') }}" width="30px" />
                    </th>
                    <th>
                        Фото
                    </th>
                    <th>
                        Назва
                    </th>
                    <th>
                        Ціна/шт
                    </th>
                    <th>
                        К-сть
                    </th>
                    <th>
                        Заг.ціна
                    </th>
                </tr>
            </table>
        </div>
        <div id="sum-text" class="sum-text">
            До сплати
            <div id="price" class="price">
                0,00
            </div>
            грн
        </div>
        <div class="finish-buy-btn">
            <a href="/about-us">
                <button id="continue-btn" class="continue-btn">
                    Продовжити покупки
                </button>
            </a>
            <a href="/cart">
                <button id="buy-btn" class="buy-btn">
                    Перейти до сплати
                </button>
            </a>
        </div>
    </section>
    <div class="more-prod">
        <div class="sec-title">
            <hr>
            <div class="sec-title-text">
                Схожі пропозиції
            </div>
        </div>
        <div class="carousel-wrapper">

            <div class="card-carousel">
                <a class="prev-cat">❮</a>
                <div class="card-container">
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>
                    <div class="prod-card">
                        <a href="productpage.html">
                            <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                            <div class="prod-card-text">
                                <div class="prod-card-name">
                                    Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                                </div>
                                <div class="prod-card-info">
                                    <div class="prod-card-cat">
                                        Овочі
                                    </div>
                                    <div class="prod-card-side">
                                        <div class="prod-card-money">
                                            <div class="prod-card-price">290,00</div>
                                            грн
                                        </div>
                                        <div class="prod-card-available">
                                            в наявності
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="prod-card-btns">
                            <button class="col-1 tofav">
                                <img src="../static/images/heart.svg" width="25px" height="30px" />
                            </button>
                            <button class="col-2 tobuy">
                                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                            </button>
                        </div>
                    </div>

                </div>
                <a class="next-cat">❯</a>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='scripts/tolike.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/moreCard.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/addToBasket.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/header.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/basket.js') }}"></script>
</body>

</html>