<footer>
    <img src="{{ url_for('static', filename='images/Logo1.png') }}" alt="Логотип Інтернет-магазин 'Семена'" class="logo" />
    <div class="col-3">
        <ul>
            <li>
                <a href="/reviews">
                    Відгуки про магазин
                </a>
            </li>
            <li>
                <a href="/#delivery">
                    Доставка та оплата
                </a>
            </li>
            <li>
                <a href="/garantee">
                    Гарантії та возврат
                </a>
            </li>
            <li>
                <a href="/about-us">
                    Про нас
                </a>
            </li>
        </ul>
    </div>
    <div class="col-4">
        <h2>Контакти</h2>
        <ul>
            <li>
                <a href="https://www.facebook.com/share/197DJNWGTK/?mibextid=wwXIfr">
                    <img src="{{ url_for('static', filename='images/facebook.svg') }}" width="35px" class="soc-media-img" />
                </a>
                <a href="https://www.tiktok.com/@natalia_davyskyba?_t=ZS-8wZhJ81Sqif&_r=1">
                    <img src="{{ url_for('static', filename='images/tiktok_logo.svg') }}" width="40px" class="soc-media-img" />
                </a>
            </li>
        </ul>
    </div>
    <div class="copyright">
        ©2015 - 2025 Інтернет магазин «Семена»
    </div>
</footer>