<footer>
    <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Логотип Інтернет-магазин 'Семена'" class="logo" />
    <div class="col-3">
        <ul>
            <li>
                <a href="/reviews">
                    Відгуки про магазин
                </a>
            </li>
            <li>
                <a href="/#delivery">
                    Доставка та оплата
                </a>
            </li>
            <li>
                <a href="/garantee">
                    Гарантії та возврат
                </a>
            </li>
            <li>
                <a href="/about-us">
                    Про нас
                </a>
            </li>
        </ul>
    </div>
    <div class="col-4">
        <h2>Контакти</h2>
        <ul>
            <li>
                (093) 823-68-08
            </li>
            <li>
                (066) 823-68-08
            </li>
            <li>
                traynovita@gmail.com
            </li>
            <li>
                artemtraino@gmail.com
            </li>
            <li>
                vita@seeds.dp.ua
            </li>
            <li>
                <a href="https://www.facebook.com/Vita.Trayno/">
                    <img src="{{ url_for('static', filename='images/facebook.svg') }}" width="35px" class="soc-media-img" />
                </a>
                <a href="https://www.youtube.com/@vita_trayno">
                    <img src="{{ url_for('static', filename='images/youtube.svg') }}" width="40px" class="soc-media-img" />
                </a>
                <a href="https://www.instagram.com/vitatrayno">
                    <img src="{{ url_for('static', filename='images/mdi_instagram.svg') }}" width="40px" class="soc-media-img" />
                </a>
            </li>
        </ul>
    </div>
    <div class="copyright">
        ©2015 - 2025 Інтернет магазин «Семена»
    </div>
</footer>