<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/basket.css">
    <link rel="stylesheet" href="../static/styles/form-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>"Семена"</title>
</head>

<body>
    <div class="top">
        <button id="menu-toggle">☰</button>
        <div class="soc-media">
            <div class="popover-container">
                <img src="../static/images/phone.svg" width="40px" class="soc-media-img popover-trigger" />
                <div class="popover">
                    (093) 823-68-08
                    <br>
                    (066) 823-68-08
                </div>
            </div>
            <div class="popover-container">
                <img src="../static/images/basil_viber-outline.svg" width="40px" class="soc-media-img popover-trigger" />
                <div class="popover">
                    (093) 823-68-08
                </div>
            </div>
            <a href="https://www.facebook.com/Vita.Trayno/">
                <img src="../static/images/facebook.svg" width="35px" class="soc-media-img" />
            </a>
            <a href="https://www.youtube.com/@vita_trayno">
                <img src="../static/images/youtube.svg" width="40px" class="soc-media-img" />
            </a>
            <a href="https://www.instagram.com/vitatrayno">
                <img src="../static/images/mdi_instagram.svg" width="40px" class="soc-media-img" />
            </a>
            <div class="popover-container">
                <img src="../static/images/emsil.svg" width="40px" class="soc-media-img popover-trigger" />
                <div class="popover">
                    traynovita@gmail.com
                    <br>
                    artemtraino@gmail.com
                    <br>
                    vita@seeds.dp.ua
                </div>
            </div>
        </div>
        <a href="index.html">
            <img src="../static/images/Logo-seedsua.png" alt="Логотип Інтернет-магазин 'Семена'" class="logo" />
        </a>
        <div class="cart-container">
            <a href="likelist.html">
                <button class="cart-btn">
                    <img src="../static/images/heart.svg" width="25px" height="30px" />
                </button>
            </a>
            <div class="cart-text">
                <p>Список побажань</p>
            </div>
            <a href="basket.html">
                <button class="cart-btn">
                    <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                </button>
            </a>
            <div class="cart-text">
                <p>Корзина</p>
            </div>
        </div>
    </div>
    <div class="menu">
        <ul id="menu" class="menu-list">
            <button id="menu-close">X</button>
            <li class="menu-list-el">
                <a class="el-a" href="index.html">
                    Головна
                </a>
            </li>
            <li class="menu-list-el">

                <div class="dropdown" onmouseenter="showDropDown()" onmouseleave="hideDropDown()">
                    <a class="el-a" href="categories.html">
                        Каталог
                        <div class="arr">
                            ▼
                        </div>
                    </a>
                    <ul id="categories-dropdown" class="cat-dropdown">
                    </ul>
                </div>
            </li>
            <li class="menu-list-el">
                <a class="el-a" href="index.html#contacts">
                    Контакти
                </a>
            </li>
            <li class="menu-list-el">
                <a class="el-a" href="reviews.html">
                    Відгуки
                </a>
            </li>
            <li class="menu-list-el">
                <a class="el-a" href="index.html#delivery">
                    Доставка та оплата
                </a>
            </li>
            <li class="menu-list-el">
                <a class="el-a" href="garantee.html">
                    Гарантії та возврат
                </a>
            </li>
            <li class="no-show-full">
                <a href="likelist.html">
                    <button class="cart-btn">
                        <img src="../static/images/heart.svg" width="25px" height="30px" />
                    </button>
                </a>
                <a href="basket.html">
                    <button class="cart-btn">
                        <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                    </button>
                </a>
            </li>
            <li class="no-show-full">
                <div class="popover-container">
                    <img src="../static/images/phone.svg" width="40px" class="soc-media-img popover-trigger" />
                    <div class="popover">
                        (093) 823-68-08
                        <br>
                        (066) 823-68-08
                    </div>
                </div>
            </li>
            <li class="no-show-full">
                <div class="popover-container">
                    <img src="../static/images/basil_viber-outline.svg" width="40px" class="soc-media-img popover-trigger" />
                    <div class="popover">
                        (093) 823-68-08
                    </div>
                </div>
            </li>
            <li class="no-show-full">
                <a href="https://www.facebook.com/Vita.Trayno/">
                    <img src="../static/images/facebook.svg" width="35px" class="soc-media-img" />
                </a>
            </li>
            <li class="no-show-full">
                <a href="https://www.youtube.com/@vita_trayno">
                    <img src="../static/images/youtube.svg" width="40px" class="soc-media-img" />
                </a>
            </li>
            <li class="no-show-full">
                <a href="https://www.instagram.com/vitatrayno">
                    <img src="../static/images/mdi_instagram.svg" width="40px" class="soc-media-img" />
                </a>
            </li>
            <li class="no-show-full">
                <div class="popover-container">
                    <img src="../static/images/emsil.svg" width="40px" class="soc-media-img popover-trigger" />
                    <div class="popover">
                        traynovita@gmail.com
                        <br>
                        artemtraino@gmail.com
                        <br>
                        vita@seeds.dp.ua
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <section class="form-section">
        <form class="final-form">
            <div class="title">
                Оформлення замовлення
            </div>
            <div class="input-group">
                <label for="client-name">Ваше ім'я, прізвище*</label>
                    <input id="client-name" placeholder="Ваше ім'я та прізвище" required>
            </div>
            <div class="input-group">
                <label for="client-phone">Ваш телефон*</label>
                    <input id="client-phone" type="tel" placeholder="+380XXXXXXXXX" pattern="\+380\d{9}" required>
            </div>
            <div class="input-group">
                <label for="email">Ваш email</label>
                <input id="email" placeholder="Email" type="email">
            </div>
            <div class="input-group">
                <label for="client-post">Адреса доставки*</label>
                <input id="client-post" placeholder="Адреса доставки (область, місто, пошта, відділення)" required>
            </div>
            <div class="input-group">
                <label for="client-payment">Оплата*</label>
                <select id="client-payment" placeholder="Адреса доставки (область, місто, пошта, відділення)" required>
                    <option value="bank">Переказ на банк. рахунок</option>
                    <option value="naklad">Наложним платежем</option>
                </select>
            </div>
            <div style="overflow-x: auto;">
                <table id="basket">
                    <tr>
                        <th>
                            <img src="../static/images/material-symbols_delete-outline.svg" width="30px" />
                        </th>
                        <th>
                            Фото
                        </th>
                        <th>
                            Назва
                        </th>
                        <th>
                            Ціна/шт
                        </th>
                        <th>
                            К-сть
                        </th>
                        <th>
                            Заг.ціна
                        </th>
                    </tr>
                </table>
            </div>
                <div id="sum-text" class="sum-text">
                До сплати
                <div id="price" class="price">
                    90,00
                </div>
                грн
            </div>
            <button type="submit">Оформити замовлення</button>
        </form>
    </section>
    <footer>
        <img src="../static/images/Logo-seedsua.png" alt="Логотип Інтернет-магазин 'Семена'" class="logo" />
        <div class="col-3">
            <ul>
                <li>
                    <a href="reviews.html">
                        Відгуки про магазин
                    </a>
                </li>
                <li>
                    <a href="index.html#delivery">
                        Доставка та оплата
                    </a>
                </li>
                <li>
                    <a href="garantee.html">
                        Гарантії та возврат
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-4">
            <h2>Контакти</h2>
            <ul>
                <li>
                    (093) 823-68-08
                </li>
                <li>
                    (066) 823-68-08
                </li>
                <li>
                    traynovita@gmail.com
                </li>
                <li>
                    artemtraino@gmail.com
                </li>
                <li>
                    vita@seeds.dp.ua 
                </li>
                <li>
                    <a href="https://www.facebook.com/Vita.Trayno/">
                        <img src="../static/images/facebook.svg" width="35px" class="soc-media-img" />
                    </a>
                    <a href="https://www.youtube.com/@vita_trayno">
                        <img src="../static/images/youtube.svg" width="40px" class="soc-media-img" />
                    </a>
                    <a href="https://www.instagram.com/vitatrayno">
                        <img src="../static/images/mdi_instagram.svg" width="40px" class="soc-media-img" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            ©2015 - 2025 Інтернет магазин «Семена»
        </div>
    </footer>
    <script src="../static/scripts/finalForm.js"></script>
    <script src="../static/scripts/header.js"></script>
</body>

</html>