<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/basket.css">
    <link rel="stylesheet" href="../static/styles/form-page.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>"Семена"</title>
</head>

<body>
    {% include 'header.html' %}
    
    <section class="form-section">
        <form class="final-form">
            <div class="title">
                Оформлення замовлення
            </div>
            <div class="input-group">
                <label for="client-name">Ваше ім'я, прізвище*</label>
                    <input id="client-name" placeholder="Ваше ім'я та прізвище" required>
            </div>
            <div class="input-group">
                <label for="client-phone">Ваш телефон*</label>
                    <input id="client-phone" type="tel" placeholder="+380XXXXXXXXX" pattern="\+380\d{9}" required>
            </div>
            <div class="input-group">
                <label for="email">Ваш email</label>
                <input id="email" placeholder="Email" type="email">
            </div>
            <div class="input-group">
                <label for="client-post">Адреса доставки*</label>
                <input id="client-post" placeholder="Адреса доставки (область, місто, пошта, відділення)" required>
            </div>
            <div class="input-group">
                <label for="client-payment">Оплата*</label>
                <select id="client-payment" placeholder="Адреса доставки (область, місто, пошта, відділення)" required>
                    <option value="bank">Переказ на банк. рахунок</option>
                    <option value="naklad">Наложним платежем</option>
                </select>
            </div>
            <div style="overflow-x: auto;">
                <table id="basket">
                    <tr>
                        <th>
                            <img src="../static/images/material-symbols_delete-outline.svg" width="30px" />
                        </th>
                        <th>
                            Фото
                        </th>
                        <th>
                            Назва
                        </th>
                        <th>
                            Ціна/шт
                        </th>
                        <th>
                            К-сть
                        </th>
                        <th>
                            Заг.ціна
                        </th>
                    </tr>
                </table>
            </div>
                <div id="sum-text" class="sum-text">
                До сплати
                <div id="price" class="price">
                    0,00
                </div>
                грн
            </div>
            <button type="submit">Оформити замовлення</button>
        </form>
    </section>
    
    {% include 'footer.html' %}
    <script src="../static/scripts/finalForm.js"></script>
    <script src="../static/scripts/header.js"></script>
</body>

</html>