<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Гарантії та возврат - MeloFlora</title>
</head>

<body>
    {% include 'header.html' %}
    
    <section class="garantee-section">
        <div class="title">
            Політика безпеки:
        </div>
        <p>

            Інтернет-магазин “Мелофлора” приділяє особливу увагу захисту персональної інформації своїх клієнтів. Ми розуміємо, наскільки важливо забезпечити конфіденційність даних, і гарантуємо, що вся інформація, яку ви надаєте під час оформлення замовлення або реєстрації на сайті, зберігається в безпечному середовищі та не передається третім особам без вашого дозволу.
            Ваша персональна інформація, зокрема ім’я, номер телефону, адреса електронної пошти та адреса доставки, використовується виключно для обробки замовлення, зв’язку з вами для його підтвердження та забезпечення своєчасної доставки товарів. Ми не використовуємо ваші дані для розсилок чи рекламних повідомлень без вашої згоди.

        </p>
        <div class="title">
            Особисті відомості та безпека:
        </div>
        <p>
            Інтернет-магазин “Мелофлора” гарантує, що жодна особиста інформація, отримана від вас під час користування нашим сайтом, ніколи і ні за яких умов не буде передана третім особам, окрім випадків, прямо передбачених чинним законодавством України. Ми розуміємо важливість конфіденційності і дотримуємось найвищих стандартів безпеки при обробці ваших персональних даних.
        </p>
        <div class="title">

            Умови повернення:
        </div>
        <p>
            Ви можете скасувати своє замовлення, але не пізніше ніж через 14 днів з моменту його оформлення. Для скасування замовлення зв’яжіться з нами за телефоном або надішліть листа на адресу info@meloflora.ua, обов’язково вказавши номер замовлення або свої прізвище та ім’я.
            Інтернет-магазин “Мелофлора” гарантує стовідсоткову якість усіх квітів та супутніх товарів, придбаних у нас. Ми дбаємо про те, щоб кожен клієнт залишався задоволеним, тому забезпечуємо повне відшкодування вартості товару за наступних умов:
            Якщо якість отриманих квітів або інших товарів не відповідає заявленій (наприклад, товар має пошкодження, ознаки зіпсованості або неналежний зовнішній вигляд), або якщо вміст посилки не відповідає вашому замовленню — ми компенсуємо повну вартість покупки.
            Скаргу необхідно надіслати електронною поштою на адресу info@meloflora.ua не пізніше ніж протягом 10 днів з моменту отримання посилки. До звернення слід додати фотографію товару разом з оригінальною упаковкою.
            Компенсація здійснюється у формі повернення коштів (переказ на банківську картку, поповнення мобільного рахунку) або у вигляді знижки на наступне замовлення — на ваш вибір.
        </p>
    </section>
    
    {% include 'footer.html' %}
    <script src="../static/scripts/script.js"></script>
    <script src="../static/scripts/header.js"></script>
</body>

</html>