<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>"Семена"</title>
</head>

<body>
    {% include 'header.html' %}
    
    <section class="garantee-section">
        <div class="title">
            Політика безпеки:
        </div>
        <p>

            Інтернет магазин “Семена” гарантує забезпечення повної конфіденційності інформації, отриманої від наших
            покупців. Ви даєте свій дозвіл на те, що всі надані дані будуть збережені в базі даних магазину “Семена”
            <br>
            Інтернет магазин “Семена” гарантує повну конфіденційність при виконанні замовлення, а також те, що
            інформація про покупця буде використана тільки для виконання зробленого вами замовлення. Ваші реєстраційні
            дані нам потрібні виключно для того, щоб ми змогли з Вами зв’язатися по телефону, а служба доставки змогла
            доставити замовлений Вами товар в потрібне місце в строк.

        </p>
        <div class="title">
            Особисті відомості та безпека:
        </div>
        <p>
            Інтернет магазин “Семена” гарантує, що ніяка отримана від вас інформація ніколи і ні за яких умов не буде
            надана третім особам, за винятком випадків, передбачених чинним законодавством України. Надана інформація
            використовується виключно при обробці замовлення або для надання відвідувачеві доступу до спеціальної
            інформації. Особисті відомості можна змінити, оновити або видалити в будь-який час.
        </p>
        <div class="title">

            Умови возврату:
        </div>
        <p>
            Ви можете скасувати своє замовлення, але не пізніше 2-х тижнів від дати його оформлення. Скасувати
            замовлення можна зателефонувавши нам по телефону або відправивши лист на адресу vita@seeds.dp.ua. При цьому
            не забудьте обов’язково вказати номер замовлення або своє прізвище та ім’я.
        </p>
        <p>
            Інтернет магазин “Семена” гарантує стовідсоткову якість на насіння та інші товари, придбані в нашому
            магазині.
        </p>
        <p>
            Інтернет магазин “Семена” компенсує 100% вартості придбаного товару за наступних умов:
        <ul>
            <li>Якість отриманого насіння та інших товарів не відповідає заявленій (термін придатності насіння та інших
                товарів прострочений)</li>
            <li>Зміст посилки не відповідає замовленню</li>
            <li>Скарга надсилається електронною поштою на адресу Vita@seeds.dp.ua протягом 10 днів після отримання
                посилки. Як доказ долучити фотографію з оригінальною упаковкою поруч</li>
            <li>Компенсація надається у вигляді повернення коштів (поштовий переказ, переказ на карту Приватбанку,
                поповнення мобільного телефону) або знижки на наступне замовлення</li>
        </ul>
        </p>
    </section>
    
    {% include 'footer.html' %}
    <script src="../static/scripts/script.js"></script>
    <script src="../static/scripts/header.js"></script>
</body>

</html>