<div class="top">
    <button id="menu-toggle">☰</button> 
    <div class="soc-media">
        <div class="popover-container">
            <img src="../static/images/phone.svg" width="40px" class="soc-media-img popover-trigger" />
            <div class="popover">
                (093) 823-68-08
                <br>
                (066) 823-68-08
            </div>
        </div>
        <div class="popover-container">
            <img src="../static/images/basil_viber-outline.svg" width="40px" class="soc-media-img popover-trigger" />
            <div class="popover">
                (093) 823-68-08
            </div>
        </div>
        <a href="https://www.facebook.com/Vita.Trayno/">
            <img src="../static/images/facebook.svg" width="35px" class="soc-media-img" />
        </a>
        <a href="https://www.youtube.com/@vita_trayno">
            <img src="../static/images/youtube.svg" width="40px" class="soc-media-img" />
        </a>
        <a href="https://www.instagram.com/vitatrayno">
            <img src="../static/images/mdi_instagram.svg" width="40px" class="soc-media-img" />
        </a>
        <div class="popover-container">
            <img src="../static/images/emsil.svg" width="40px" class="soc-media-img popover-trigger" />
            <div class="popover">
                traynovita@gmail.com
                <br>
                artemtraino@gmail.com
                <br>
                vita@seeds.dp.ua
            </div>
        </div>
    </div>
    <a href="/">
        <img src="../static/images/logo.png" alt="Логотип Інтернет-магазин 'Семена'" class="logo" />
    </a>
    <div class="cart-container">
        <a href="/wishlist">
            <button class="cart-btn">
                <img src="../static/images/heart.svg" width="25px" height="30px" />
            </button>
        </a>
        <div class="cart-text">
            <p>Список побажань</p>
        </div>
        <a href="/basket">
            <button class="cart-btn">
                <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
            </button>
        </a>
        <div class="cart-text">
            <p>Корзина</p>
        </div>
    </div>
</div>
<div class="menu">
    <ul  id="menu" class="menu-list">
        <button id="menu-close">X</button>
        <li class="menu-list-el">
            <a class="el-a" href="/">
                Головна
            </a>
        </li>
        <li class="menu-list-el">

            <div class="dropdown" onmouseenter="showDropDown()" onmouseleave="hideDropDown()">
                <a class="el-a" href="/categories">
                    Каталог
                    <div class="arr">
                        ▼
                    </div>
                </a>
                <ul id="categories-dropdown" class="cat-dropdown">
                </ul>
            </div>
        </li>
        <li class="menu-list-el">
            <a class="el-a" href="/#contacts">
                Контакти
            </a>
        </li>
        <li class="menu-list-el">
            <a class="el-a" href="/reviews">
                Відгуки
            </a>
        </li>
        <li class="menu-list-el">
            <a class="el-a" href="/#delivery">
                Доставка та оплата
            </a>
        </li>
        <li class="menu-list-el">
            <a class="el-a" href="/garantee">
                Гарантії та возврат
            </a>
        </li>
        <li class="menu-list-el">
            <a class="el-a" href="/about-us">
                Про нас
            </a>
        </li>
        <li class="no-show-full">
            <a href="likelist.html">
                <button class="cart-btn">
                    <img src="../static/images/heart.svg" width="25px" height="30px" />
                </button>
            </a>
            <a href="basket.html">
                <button class="cart-btn">
                    <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                </button>
            </a>
        </li>
        <li class="no-show-full">
            <div class="popover-container">
                <img src="../static/images/phone.svg" width="40px" class="soc-media-img popover-trigger" />
                <div class="popover">
                    (093) 823-68-08
                    <br>
                    (066) 823-68-08
                </div>
            </div>
        </li>
        <li class="no-show-full">
            <div class="popover-container">
                <img src="../static/images/basil_viber-outline.svg" width="40px" class="soc-media-img popover-trigger" />
                <div class="popover">
                    (093) 823-68-08
                </div>
            </div>
        </li>
        <li class="no-show-full">
            <a href="https://www.facebook.com/Vita.Trayno/">
                <img src="../static/images/facebook.svg" width="35px" class="soc-media-img" />
            </a>
        </li>
        <li class="no-show-full">
            <a href="https://www.youtube.com/@vita_trayno">
                <img src="../static/images/youtube.svg" width="40px" class="soc-media-img" />
            </a>
        </li>
        <li class="no-show-full">
            <a href="https://www.instagram.com/vitatrayno">
                <img src="../static/images/mdi_instagram.svg" width="40px" class="soc-media-img" />
            </a>
        </li>
        <li class="no-show-full">
            <div class="popover-container">
                <img src="../static/images/emsil.svg" width="40px" class="soc-media-img popover-trigger" />
                <div class="popover">
                    traynovita@gmail.com
                    <br>
                    artemtraino@gmail.com
                    <br>
                    vita@seeds.dp.ua
                </div>
            </div>
        </li>
    </ul>
</div>