<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>"Семена"</title>
</head>

<body>
    {% include 'header.html' %}

    <div class="main-page">
        <section class="slideshow-container">

            <div class="mySlides fade">
                <img src="../static/images/Trajno-2025-1.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="../static/images/Velour25.jpg" style="width:100%">
            </div>

            <div class="mySlides fade">
                <img src="../static/images/Trajno-2025-2.jpg" style="width:100%">
            </div>
            <div class="mySlides fade">
                <img src="../static/images/Trajno-2025-3.jpg" style="width:100%">
            </div>

            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>

            <br>

            <div class="slideshow-dots">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
            </div>
        </section>
        <section class="boxes-frame">
            <div class="box">
                <img src="../static/images/solar_delivery-bold.svg" width="41px" class="box-img" />
                <div class="box-text">
                    <div class="box-bold">Доставляємо</div>
                    <div class="box-small">по всій Україні</div>
                </div>
            </div>
            <div class="box">
                <img src="../static/images/carbon_review.svg" width="41px" class="box-img" />
                <div class="box-text">
                    <div class="box-bold">Якість</div>
                    <div class="box-small">перевірена нашими клієнтами</div>
                </div>
            </div>
            <div class="box">
                <img src="../static/images/pepicons-pop_flower.svg" width="41px" class="box-img" />
                <div class="box-text">
                    <div class="box-bold">Асортимент</div>
                    <div class="box-small">який постійно оновлюється</div>
                </div>
            </div>
        </section>
        <section class="show-categories" id="categories">
            <div class="top-section">
                <div class="title">Категорії:</div>
                <a class="more-link" href="/categories">Переглянути все →</a>
            </div>
            <div class="card-carousel">
                <a class="prev-cat">❮</a>
                <div id="card-container" class="card-container">
                </div>
                <a class="next-cat">❯</a>
            </div>
            <div class="indicator-container"></div>
        </section>
        <section class="show-reviews">
            <div class="top-section">
                <div class="title">Відгуки:</div>
                <a class="more-link" href="/reviews">Переглянути все →</a>
            </div>
            <div class="main-review-container">
                {% for review in all_reviews %}
                <div class="main-review">
                    <div class="stars-main-review">
                        <img src="../static/images/material-symbols_star-rounded.svg" width="35px" />
                        <img src="../static/images/material-symbols_star-rounded.svg" width="35px" />
                        <img src="../static/images/material-symbols_star-rounded.svg" width="35px" />
                        <img src="../static/images/material-symbols_star-rounded.svg" width="35px" />
                        <img src="../static/images/material-symbols_star-rounded.svg" width="35px" />
                    </div>
                    <div class="text-main-review">
                        {{ review.comment }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <section class="delivery-section" id="delivery">
            <div class="top-section">
                <div class="title">Доставка</div>
            </div>
            <p class="delivery-text">Доставка насіння можлива в будь-яку точку України транспортними компаніями “Нова
                Пошта” і “Укрпошта”.</p>
            <div class="delivery-grid">
                <img src="../static/images/nova_poshta.svg" width="150px" class="col-1" />
                <p class="col-1">Нова Пошта</p>
                <div class="delivery-small-text col-1">
                    Транспортні витрати пошти (від 70 грн.) + комісія за повернення грошей (20 грн + 2% від суми)
                </div>
                <img src="../static/images/ukrposhta.svg" width="80px" class="col-2" />
                <p class="col-2">Укрпошта</p>
                <div class="delivery-small-text col-2">
                    Транспортні витрати пошти (прибл 45-50 грн.) + комісія за повернення грошей (10 грн + 1% від суми)
                    <br>
                    – Недоліки: додаткові витрати на зворотну відправку грошей
                    <br>
                    – Переваги: Оплата замовлення у відділенні, після перевірки посилки
                </div>
            </div>
        </section>
        <section id="contacts" class="contact-section">
            <div class="top-section">
                <div class="title">Контакти</div>
            </div>
            <div class="contact-grid">
                <div class="col-1 contacts-first">
                    <div class="row-1">
                        <div class="contacts">
                            <img src="../static/images/phone.svg" width="50px" />
                            <div>
                                (093) 823-68-08
                            </div>
                            <div>
                                (066) 823-68-08
                            </div>
                        </div>
                        <div class="contacts">
                            <img src="../static/images/basil_viber-outline.svg" width="50px" />
                            <div>
                                (093) 823-68-08
                            </div>
                        </div>
                    </div>
                    <div class="row-2">
                        <div class="contacts">
                            <img src="../static/images/facebook.svg" width="50px" />
                            <div>
                                Артем-Вита
                            </div>
                            <div>
                                Трайно
                            </div>
                        </div>
                        <div class="contacts">
                            <img src="../static/images/youtube.svg" width="50px" />
                            <div>
                                Вита Трайно
                            </div>
                        </div>
                    </div>
                    <div class="row-3">
                        <div class="contacts">
                            <img src="../static/images/emsil.svg" width="50px" />
                            <div>
                                traynovita@gmail.com
                            </div>
                            <div>
                                artemtraino@gmail.com
                            </div>
                            <div>
                                vita@seeds.dp.ua 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <form method="POST" action="/">
                        <div class="top-form">
                            <p class="col-1">
                                Форма зворотнього зв'язку
                            </p>
                            <div class="col-2">
                                <input name="username" placeholder="Ваше ім'я" maxlength="50" required>
                            </div>
                            <div class="col-2">
                                <input name="contact" placeholder="Email/телефон" maxlength="50" required>
                            </div>
                        </div>
                        <textarea name="comment" class="form-text-field" maxlength="1000" required></textarea>
                        <button type="submit">Надіслати</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    {% include 'footer.html' %}
    <script src="../static/scripts/header.js"></script>
    <script src="../static/scripts/categories.js"></script>
    <script src="../static/scripts/script.js"></script>
</body>

</html>