<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/productpage.css">
    <link rel="stylesheet" href="../static/styles/products.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/popout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="..static/scripts/header.js" defer></script>
    <title>"Семена"</title>
</head>

<body>
    {% include 'header.html' %}
    
    <section class="product-section">
        <div class="product-conf col-1">
            <div class="conf-wrapper">
                <div class="bar-title">
                    Сортувати за
                </div>
                <select class="sort-select">
                    <option value="">За змовчуванням</option>
                    <option value="expensive">Ціною (від дорожчого до дешевшого)</option>
                    <option value="cheap">Ціною (від дешевшого до дорожчого)</option>
                    <option value="abc">Алфавітом (від А до Я)</option>
                    <option value="xyz">Алфавітом (від Я до А)</option>

                </select>
            </div>
            <div class="conf-wrapper">
                <div id="cats" class="bar-title bar-name">
                    Категорії
                    <div class="arr">
                        ▼
                    </div>
                </div>
                <ul id="category-list" class="cats" style="display: block;">
                </ul>
            </div>
            <div class="conf-wrapper">
                <div id="producers" class="bar-title bar-name"  style="display: block;">
                    Виробники
                    <div class="arr">
                        ▼
                    </div>
                </div>
                <ul class="producers">
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-grid col-2">
            <div class="prod-card">
                <a href="productpage.html">
                    <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                    <div class="prod-card-text">
                        <div class="prod-card-name">
                            Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                        </div>
                        <div class="prod-card-info">
                            <div class="prod-card-cat">
                                Овочі
                            </div>
                            <div class="prod-card-side">
                                <div class="prod-card-money">
                                    <div class="prod-card-price">290,00</div>
                                    грн
                                </div>
                                <div class="prod-card-available">
                                    в наявності
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="prod-card-btns">
                    <button class="col-1 tofav">
                        <img src="../static/images/heart.svg" width="25px" height="30px" />
                    </button>
                    <button class="col-2 tobuy">
                        <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                    </button>
                </div>
            </div>
            <div class="prod-card">
                <a href="productpage.html">
                    <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                    <div class="prod-card-text">
                        <div class="prod-card-name">
                            Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                        </div>
                        <div class="prod-card-info">
                            <div class="prod-card-cat">
                                Овочі
                            </div>
                            <div class="prod-card-side">
                                <div class="prod-card-money">
                                    <div class="prod-card-price">290,00</div>
                                    грн
                                </div>
                                <div class="prod-card-available">
                                    в наявності
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="prod-card-btns">
                    <button class="col-1 tofav">
                        <img src="../static/images/heart.svg" width="25px" height="30px" />
                    </button>
                    <button class="col-2 tobuy">
                        <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                    </button>
                </div>
            </div>
            <div class="prod-card">
                <a href="productpage.html">
                    <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                    <div class="prod-card-text">
                        <div class="prod-card-name">
                            Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                        </div>
                        <div class="prod-card-info">
                            <div class="prod-card-cat">
                                Овочі
                            </div>
                            <div class="prod-card-side">
                                <div class="prod-card-money">
                                    <div class="prod-card-price">290,00</div>
                                    грн
                                </div>
                                <div class="prod-card-available">
                                    в наявності
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="prod-card-btns">
                    <button class="col-1 tofav">
                        <img src="../static/images/heart.svg" width="25px" height="30px" />
                    </button>
                    <button class="col-2 tobuy">
                        <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                    </button>
                </div>
            </div>
            <div class="prod-card">
                <a href="productpage.html">
                    <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                    <div class="prod-card-text">
                        <div class="prod-card-name">
                            Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                        </div>
                        <div class="prod-card-info">
                            <div class="prod-card-cat">
                                Овочі
                            </div>
                            <div class="prod-card-side">
                                <div class="prod-card-money">
                                    <div class="prod-card-price">290,00</div>
                                    грн
                                </div>
                                <div class="prod-card-available">
                                    в наявності
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="prod-card-btns">
                    <button class="col-1 tofav">
                        <img src="../static/images/heart.svg" width="25px" height="30px" />
                    </button>
                    <button class="col-2 tobuy">
                        <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                    </button>
                </div>
            </div>
            <div class="prod-card">
                <a href="productpage.html">
                    <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                    <div class="prod-card-text">
                        <div class="prod-card-name">
                            Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                        </div>
                        <div class="prod-card-info">
                            <div class="prod-card-cat">
                                Овочі
                            </div>
                            <div class="prod-card-side">
                                <div class="prod-card-money">
                                    <div class="prod-card-price">290,00</div>
                                    грн
                                </div>
                                <div class="prod-card-available">
                                    в наявності
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="prod-card-btns">
                    <button class="col-1 tofav">
                        <img src="../static/images/heart.svg" width="25px" height="30px" />
                    </button>
                    <button class="col-2 tobuy">
                        <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                    </button>
                </div>
            </div>
            <div class="prod-card">
                <a href="productpage.html">
                    <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                    <div class="prod-card-text">
                        <div class="prod-card-name">
                            Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                        </div>
                        <div class="prod-card-info">
                            <div class="prod-card-cat">
                                Овочі
                            </div>
                            <div class="prod-card-side">
                                <div class="prod-card-money">
                                    <div class="prod-card-price">290,00</div>
                                    грн
                                </div>
                                <div class="prod-card-available">
                                    в наявності
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="prod-card-btns">
                    <button class="col-1 tofav">
                        <img src="../static/images/heart.svg" width="25px" height="30px" />
                    </button>
                    <button class="col-2 tobuy">
                        <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                    </button>
                </div>
            </div>
            <div class="prod-card unable">
                <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                <div class="prod-card-text">
                    <div class="prod-card-name">
                        Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                    </div>
                    <div class="prod-card-info">
                        <div class="prod-card-cat">
                            Овочі
                        </div>
                        <div class="prod-card-side">
                            <div class="prod-card-money">
                                <div class="prod-card-price">290,00</div>
                                грн
                            </div>
                            <div class="prod-card-available">
                                не в наявності
                            </div>
                        </div>
                    </div>
                </div>
                <div class="prod-card-btns">
                    <button class="col-1 tofav">
                        <img src="../static/images/heart.svg" width="25px" height="30px" />
                    </button>
                    <button class="col-2 tobuy">
                        <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                    </button>
                </div>
            </div>

        </div>
        <div id="popout" class="popout-basket">
            <div class="popout-info">
                <div class="one-line">
                    <div class="popout-title">
                        Кошик
                    </div>
                    <button id="close-btn" class="close-btn">
                        X
                    </button>
                </div>
                <table id="popout-table" class="popout-table">
                </table>
                <div id="final-price" class="final-price">
                    До сплати: 60 грн
                </div>
            </div>
            <a href="form-page.html">
                <button class="popout-btn">
                    Оформити замовлення
                </button>
            </a>
        </div>
    </section>
    
    {% include 'footer.html' %}
    <script src="../static/scripts/addToBasket.js"></script>
    <script src="../static/scripts/header.js"></script>
    <script src="../static/scripts/products.js"></script>
    <script src="../static/scripts/popout.js"></script>
    <script src="../static/scripts/tolike.js"></script>
</body>

</html>