<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/productpage.css">
    <link rel="stylesheet" href="../static/styles/products.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/popout.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>"Семена"</title>
</head>

<body>
    {% include 'header.html' %}
    
    <section class="product-page-section">
        <div class="product-img-text-wrap">
            <div class="col-1">
                <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <img id="main-photo" class="main-photo" src="{{ url_for('static', filename='images/products/' ~ product.image_url.split(',')[0].strip()) }}" />
                    <a class="next" onclick="plusSlides(1)">❯</a>

                <div class="thumbnails">
                    {% for filename in product.image_url.split(',') %}
                    <img class="thumbnail-photo" src="{{ url_for('static', filename='images/products/' ~ filename.strip()) }}" onclick="changeMainPhoto(this)">
                    {% endfor %}
                </div>
            </div>
            <div class="col-2">
                <div class="product-title">
                    {{ product.name }}
                </div>
                <div class="one-line">
                    <div class="product-info">
                        <div class="product-cat">
                            {{ category_name }}
                        </div>
                        <div class="product-available">
                            {% if product.status == 'active' %}
                            в наявності
                            {% elif product.status == 'inactive' %}
                            не в наявності
                            {% endif %}
                        </div>
                    </div>
                    <div class="product-price">
                        {{'{:,.2f}'.format(product.price)}} грн
                    </div>
                </div>
                <div class="product-desc">
                    {{ product.description }}
                    <!-- кількість в упаковці: 10 шт
                    <br>
                    Арктика-ідеальний для маринування ультраранній (33-38 днів) партенокарпічний гібрид.
                    <br>
                    Рослина потужна, з добре розвиненим листовим апаратом. Плоди циліндричні, однорідні, вирівняні,
                    довжиною 9-10 см, діаметром 3-3,5 см. Прекрасно поміщається в літрові банки для консервування.
                    <br>
                    Гібрид плодоносить в стресових умовах спекотного літа. -->
                </div>
                <div class="one-line">
                    <div class="product-quantity">
                        <button id="minus" class="add-minus">
                            -
                        </button>
                        <div id="quantity" class="quantity-amount">
                            1
                        </div>
                        <button id="plus" class="add-minus">
                            +
                        </button>
                    </div>
                    <div class="product-buying">
                        <button class="fav-btn tofav" data-name="{{ product.name }}" data-image="{{ product.image_url.split(',')[0] }}" data-price="{{ product.price }}">
                            <img src="../static/images/heart.svg" width="25px" height="30px" />
                        </button>
                        <button class="buy-btn" data-name="{{ product.name }}" data-image="{{ product.image_url.split(',')[0] }}" data-price="{{ product.price }}">
                            Купити
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-add-info">
            <div class="sec-title">
                <hr>
                <div class="sec-title-text">
                    Додаткова інформація
                </div>
            </div>
            <div class="info-text">
                {% if product.quantity != 0 %}
                <div>
                    Кількість в упаковці
                </div>
                <div>
                    <a href="/products/quantity/{{ product.quantity }}">{{ product.quantity }}</a>
                </div>
                {% endif %}
                <div>
                    Виробник
                </div>
                <div>
                    <a href="/products/manufacturer/{{ manufacturer.slug }}">{{ manufacturer.name }}</a>
                </div>

                <div>
                    Країна
                </div>
                <div>
                    <a href="/products/country/{{ product.country_slug }}">{{ product.country }}</a>
                </div>

                {% if product.dosage != '0' %}
                <div>
                    Дозування
                </div>
                <div>
                    <a href="/products/dosage/{{ product.dosage }}">{{ product.dosage }}</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="more-prod">
            <div class="sec-title">
                <hr>
                <div class="sec-title-text">
                    Схожі пропозиції
                </div>
            </div>
            <div class="carousel-wrapper">

                <div class="card-carousel">
                    <a class="prev-cat">❮</a>
                    <div class="card-container">
                        {% for similar_product in similar_products %}
                        <div class="prod-card">
                            <a href="/products/{{ product.id }}">
                                <img class="prod-card-img" src="../static/images/dobryva-cat.jpg" />
                                <div class="prod-card-text">
                                    <div class="prod-card-name">
                                        {{ similar_product.name }}
                                    </div>
                                    <div class="prod-card-info">
                                        <div class="prod-card-cat">
                                            Овочі
                                        </div>
                                        <div class="prod-card-side">
                                            <div class="prod-card-money">
                                                <div class="prod-card-price">290,00</div>
                                                грн
                                            </div>
                                            <div class="prod-card-available">
                                                в наявності
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="prod-card-btns">
                                <button class="col-1 tofav">
                                    <img src="../static/images/heart.svg" width="25px" height="30px" />
                                </button>
                                <button class="col-2 tobuy">
                                    <img src="../static/images/cart-svgrepo-com (1).svg" width="30px" height="30px" />
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="next-cat">❯</a>
                </div>
            </div>
        </div>
        <div id="popout" class="popout-basket">
            <div class="popout-info">
                <div class="one-line">
                    <div class="popout-title">
                        Кошик
                    </div>
                    <button id="close-btn" class="close-btn">
                        X
                    </button>
                </div>
                <table id="popout-table" class="popout-table">
                </table>
                <div id="final-price" class="final-price">
                    До сплати: 60 грн
                </div>
            </div>
            <a href="form-page.html">
                <button class="popout-btn">
                    Оформити замовлення
                </button>
            </a>
        </div>
    </section>
    
    {% include 'footer.html' %}
    <script src="../static/scripts/moreCard.js"></script>
    <script src="../static/scripts/popout.js"></script>
    <script src="../static/scripts/productpage.js"></script>
    <script src="../static/scripts/tolike.js"></script>
    <script src="../static/scripts/addToBasket.js"></script>
    <script src="../static/scripts/header.js"></script>
</body>

</html>