<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/productpage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/popout.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="{{ url_for('static', filename='scripts/header.js') }}" defer></script>
    <title>"Семена"</title>
</head>

<body>
    {% include 'header.html' %}

    <section class="product-section">
        <div class="product-conf col-1">
            <div class="conf-wrapper">
                <div class="bar-title">
                    Сортувати за
                </div>
                <select class="sort-select">
                    <option value="">За змовчуванням</option>
                    <option value="expensive">Ціною (від дорожчого до дешевшого)</option>
                    <option value="cheap">Ціною (від дешевшого до дорожчого)</option>
                    <option value="abc">Алфавітом (від А до Я)</option>
                    <option value="xyz">Алфавітом (від Я до А)</option>

                </select>
            </div>
            <div class="conf-wrapper">
                <div id="cats" class="bar-title bar-name">
                    Категорії
                    <div class="arr">
                        ▼
                    </div>
                </div>
                <ul id="category-list" class="cats" style="display: block;">
                </ul>
            </div>
            <div class="conf-wrapper">
                <div id="producers" class="bar-title bar-name">
                    Виробники
                    <div class="arr">
                        ▼
                    </div>
                </div>
                <ul class="producers" style="display: block;">
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                    <li>
                        Добрива →
                    </li>
                </ul>
            </div>
        </div>
        <div class="product-grid col-2">
            {% if products %}
            {% for product in products %}
            {% if product.status == 'active' %}
            <div class="prod-card">
                {% elif product.status == 'inactive' %}
                <div class="prod-card unable">
                    {% endif %}
                    <a href="/products/{{ product.id }}">
                        <img class="prod-card-img"
                            src="{{ url_for('static', filename='images/products/' ~ product.image_url.split(',')[0].strip()) }}"
                            width="240px" height="240px" />
                        <div class="prod-card-text">
                            <div class="prod-card-name">
                                {{ product.name }}
                            </div>
                            <div class="prod-card-info">
                                <div class="prod-card-cat">
                                    {{ product.category.name }}
                                </div>
                                <div class="prod-card-side">
                                    <div class="prod-card-money">
                                        <div class="prod-card-price">{{'{:,.2f}'.format(product.price)}}</div>
                                        грн
                                    </div>
                                    <div class="prod-card-available">
                                        {% if product.status == 'active' %}
                                        в наявності
                                        {% elif product.status == 'inactive' %}
                                        не в наявності
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="prod-card-btns">
                        <button class="col-1 tofav" data-id="{{product.id}}" data-name="{{ product.name }}"
                            data-image="{{ product.image_url.split(',')[0] }}" data-price="{{ product.price }}">
                            <img src="{{ url_for('static', filename='images/heart.svg') }}" width="25px"
                                height="30px" />
                        </button>
                        <button class="col-2 tobuy" data-id="{{product.id}}" data-name="{{ product.name }}"
                            data-image="{{ product.image_url.split(',')[0] }}" data-price="{{ product.price }}">
                            <img src="{{ url_for('static', filename='images/cart-svgrepo-com (1).svg') }}" width="30px"
                                height="30px" />
                        </button>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                <div class="prod-card unable">
                    <img class="prod-card-img" src="{{ url_for('static', filename='images/dobryva-cat.jpg') }}" />
                    <div class="prod-card-text">
                        <div class="prod-card-name">
                            Огірки Арктика F1 (корнішон партенокарпік) ранні 35-38 днів (10 шт)
                        </div>
                        <div class="prod-card-info">
                            <div class="prod-card-cat">
                                Овочі
                            </div>
                            <div class="prod-card-side">
                                <div class="prod-card-money">
                                    <div class="prod-card-price">290,00</div>
                                    грн
                                </div>
                                <div class="prod-card-available">
                                    не в наявності
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prod-card-btns">
                        <button class="col-1 tofav">
                            <img src="{{ url_for('static', filename='images/heart.svg') }}" width="25px"
                                height="30px" />
                        </button>
                        <button class="col-2 tobuy">
                            <img src="{{ url_for('static', filename='images/cart-svgrepo-com (1).svg') }}" width="30px"
                                height="30px" />
                        </button>
                    </div>
                </div>
            </div>
            <div id="popout" class="popout-basket">
                <div class="popout-info">
                    <div class="one-line">
                        <div class="popout-title">
                            Кошик
                        </div>
                        <button id="close-btn" class="close-btn">
                            X
                        </button>
                    </div>
                    <table id="popout-table" class="popout-table">
                    </table>
                    <div id="final-price" class="final-price">
                        До сплати: 60 грн
                    </div>
                </div>
                <a href="form-page.html">
                    <button class="popout-btn">
                        Оформити замовлення
                    </button>
                </a>
            </div>
    </section>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='scripts/addToBasket.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/header.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/products.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/popout.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/tolike.js') }}"></script>
</body>

</html>