<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>"Семена"</title>
</head>

<body>
    {% include 'header.html' %}
    
    <section class="finish-section" style="padding: 30px;">
        <div class="title" style="text-align: center;">Виникла помилка :(</div>
        <p>Якщо у вас є питання до нас - зв'яжіться із нами</p> 
        <a href="index.html">
            <button>До головної сторінки</button>
        </a>
    </section>
    
    {% include 'footer.html' %}
    <script src="scripts/header.js"></script>
</body>

</html>