<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/reviews.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>"Семена"</title>
</head>

<body>
    {% include 'header.html' %}
    
    <section class="review-section">
        <div class="col-1">
            <div class="reviews-wrapper">

                <div class="client-review">
                    <div class="same-line">
                        <div class="client-name-review">
                            Name
                        </div>
                        <div class="client-date-review">
                            date
                        </div>
                    </div>
                    <div class="stars-review">
                        ★★★★★
                    </div>
                    <div class="main-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tincidunt nulla. Nulla ac nulla
                        in nulla vestibulum convallis. Nunc faucibus euismod pharetra. Vestibulum id scelerisque velit,
                        a ultrices est. Duis nec tincidunt ligula. Aenean quis auctor diam.
                    </div>
                </div>
                <div class="client-review">
                    <div class="same-line">
                        <div class="client-name-review">
                            Name
                        </div>
                        <div class="client-date-review">
                            date
                        </div>
                    </div>
                    <div class="stars-review">
                        ★★★★★
                    </div>
                    <div class="main-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed tincidunt nulla. Nulla ac nulla
                        in nulla vestibulum convallis. Nunc faucibus euismod pharetra. Vestibulum id scelerisque velit,
                        a ultrices est. Duis nec tincidunt ligula. Aenean quis auctor diam.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <form>
                <div class="top-form">
                    <p class="col-1">
                        Відгуки
                    </p>
                    <div class="col-2">
                        <input placeholder="Ваше ім'я">
                    </div>
                    <div class="col-2">

                        <input placeholder="Email/телефон">
                    </div>
                </div>
                <textarea class="form-text-field"></textarea>
                <div class="same-line">
                    <div class="star-rating">
                        <input type="radio" id="star5" name="rating" value="5">
                        <label for="star5">★</label>

                        <input type="radio" id="star4" name="rating" value="4">
                        <label for="star4">★</label>

                        <input type="radio" id="star3" name="rating" value="3">
                        <label for="star3">★</label>

                        <input type="radio" id="star2" name="rating" value="2">
                        <label for="star2">★</label>

                        <input type="radio" id="star1" name="rating" value="1">
                        <label for="star1">★</label>
                    </div>
                    <button type="submit">Надіслати</button>
                </div>
            </form>
        </div>
    </section>
    
    {% include 'footer.html' %}
    <script src="../static/scripts/header.js"></script>
</body>

</html>